* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    font: 1.3rem Inconsolata, monospace;
    
    background-color: rgb(0, 0, 0);
    text-shadow: 0 0 5px rgba(56, 255, 56, 0.75);
    color: rgba(0, 247, 0, 0.75);
}

.input {
    background-color: rgb(0, 0, 0);
    border: none;
    outline: none;

    color: rgba(0, 247, 0, 0.75);
    text-shadow: 0 0 5px rgba(56, 255, 56, 0.75);
    font-weight: bold;

    margin-top: 0.5rem;
    margin-left: 0.5rem;

    font-size: 2.5rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin: 0.3rem 0 0 0.8rem;
}

h1 {
    display: inline-block;
    font-size: 1.3rem;

    font-size: 4rem;
}